* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heights: 70vh;
    --widths: 50%;
}

.slider {
    height: var(--heights);
    width: var(--widths);
    position: relative;
    margin: auto;
    overflow: hidden;
}